@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  animation: glow 60s linear infinite running;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 40px 100px;
}
@keyframes glow {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: rgba(17, 189, 180, 0.5);
  }

  100% {
    background-color: #fff;
  }
}

/* ====================
=====header section====
======================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
}

.site-name {
  color: #3a3a3a;
  font-size: 24px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10;
}
.navigation li a {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  color: #3a3a3a;
  font-weight: 600;
}

/* ==============================
==========banner section=========
===============================*/
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 50px;
  color: #3a3a3a;
  line-height: 70px;
}
.banner-left p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
.banner-btn {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.banner-btn:hover {
  transform: scale(1.05);
  transition: transform 0.7s linear;
  cursor: pointer;
}
.fa-arrow-right {
  margin-left: 8px;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-right img {
  width: 440px;
  background-image: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 94%;
}
.banner-right img:hover {
  transform: scale(1.05);
  transition: transform 0.7s linear;
}

/* =============================
===========logo section=========
===============================*/
hr {
  opacity: 20%;
  width: 80%;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo img {
  padding: 35px 30px;
}
.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.7s linear;
}

/*===================================== 
=======populer collection section======
=====================================*/
.populer-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.populer-collection > h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product:hover {
  transform: scale(1.05);
  transition: transform 0.7s linear;
}

.product h2 {
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-top: 16px;
}
.product h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  margin-top: 10px;
}
.product-ratings {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: 11px;
}
.fa-star,
.fa-star-half-alt {
  font-size: 11px;
}
.fa-star.fillid {
  color: #ffc014;
}
.fa-star-half-alt.half-fillid {
  color: #ffc014;
}
.product p {
  font-size: 14px;
  line-height: 143%;
  color: #787885;
  font-weight: 700;
  margin-top: 5px;
}
.see-more {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 1048px;
}
.see-more a {
  text-decoration: none;
  margin-top: -80px;
  color: #e02c6d;
}
/* .populer-collection > h4 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #e02c6d;
} */

/*============================= 
=========bottom banner=========
==============================*/
.bottom-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.bottom-left-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bottom-left-banner img {
  border-radius: 5px;
}
.bottom-right-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bottom-right-banner h2 {
  font-size: 32px;
  line-height: 60px;
  color: #0a0826;
}
.bottom-right-banner p {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}

.bottom-banner-btn {
  width: 155px;
  height: 44px;
  background: #e02c6d;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
}
.bottom-banner-btn:hover {
  transform: scale(1.05);
  transition: transform 0.7s linear;
  cursor: pointer;
}

/* =================================
===============footer===============
===================================*/
footer {
  height: 240px;
  background: #0a0826;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-info h3 {
  font-size: 24px;
  line-height: 36px;
}
.footer-info p {
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
.footer-info h3,
p {
  margin-bottom: 10px;
}

.fab {
  margin: 0 16px;
  font-size: 25px;
  color: #d9dbe1;
}
.fab:hover {
  transform: scale(1.5);
  transition: transform 0.5s linear;
  cursor: pointer;
}

/* +++++++++++++++++++++++++++++++++
++++++++++responsive css++++++++++++
+++++++++++++++++++++++++++++++++ */

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .site-name {
    padding: 0;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
    padding: 0 80px;
    align-items: center;
  }
  .banner {
    grid-template-columns: 1fr;
    gap: 60px;
    margin: 0;
    padding: 0;
  }
  .logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-banner {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    padding: 0;
  }
}

/* mobile */
@media (max-width: 767px) {
  .site-name {
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
    align-items: center;
  }
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 20px 0;
    padding: 0;
  }
  .banner-left h1 {
    font-size: 30px;
  }
  .logo {
    flex-direction: column;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bottom-banner {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
    padding: 0;
  }
  .banner img {
    width: 350px;
  }
  .bottom-left-banner img {
    width: 350px;
  }
}
